.header {
  background-color: #FEFAF9;
  margin-bottom: 40px;
}

.nav {
  display: flex;
  align-items: end;
}

.navList {
  display: flex;
  column-gap: 56px;
  padding: 10px;
  margin-left: auto;
}

.navItem {
  line-height: 150%;
  font-size: 20px;
  letter-spacing: 0%;
  color: #0E0E0E;
}

.active {
  color: #6937F5;
}