.card {
  width: 100%;
  max-width: 195px;
  border-radius: 20px;
  border: 3px solid #BAA3FA;
  padding: 10px 16px;
  position: relative;
}

@media (max-width:1280px) {
  .card {
    max-width: none;
  }
}


.time {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 8px;
}

.weather {
  font-size: 12px;
  font-weight: 600;
  color: #919191;
  margin-bottom: 8px;
}

.icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
}

@media(max-width:400px) {
  .icon {
    top: 35%;
    width: 24px;
    height: 24px;
  }
}

.tempWrapper, .humidityWrapper {
  display: flex;
  column-gap: 16px;
}

.temp, .humidity {
  font-size: 16px;
  font-weight: 600;
}

.humidityIcon path {
  stroke: #BAA3FA;
}